extends index.pug

block append content

    div(class=" row container col-md-12")
        div(class="col-md-9")
            div(class="input-group col-md-9")
                input(type="text" class="form-control col-md-12 post-title" placeholder="Enter your post's title." aria-label="Recipient's username" aria-describedby="basic-addon2")
            
            div(class="input-group col-md-9")
                input(type="text" class="form-control col-md-12 post-input" placeholder=" Enter your post. Freedom = the condition or right of being able or allowed to do, say, think, etc. whatever you want to, without being controlled or limited." aria-label="Recipient's username" aria-describedby="basic-addon2" style={height:'300px'})
                
                div(class="input-group-append")
                    button(class="btn btn-outline-secondary btn-post" type="button") Post

        div(class="container col-md-3 advertisements" style={height:'10000px'}) 
                    
                    div(class="adBlock" style={height:'350px'}) Advertisements
                        .image-block
                        img.className#IdName(src="https://static.redditgifts.com/images/uploaded/exchange-promo-ad-300-x-250/2018/7/17/2018-batch-5-living-spaces-1531863444-802862842014.png" class="img1 ads" alt="Image Title" style={position:'relative', height:'300px',width:'300px'})
                        
                        | 
                    div(class="adBlock" style={height:'350px'}) Advertisements
                        .image-block
                        img.className#IdName(src="https://blog.bannersnack.com/wp-content/uploads/2016/05/Amazon-Prime.png" class="img1 ads" alt="Image Title" style={position:'relative', height:'300px',width:'300px'})

                        | 
                    div(class="adBlock" style={height:'350px'}) Advertisements
                        .image-block
                        img.className#IdName(src="https://blog.bannersnack.com/wp-content/uploads/2016/05/Facebook.png" class="img1 ads" alt="Image Title" style={position:'relative', height:'300px',width:'300px'})

                        | 
                    div(class="adBlock" style={height:'350px'}) Advertisements
                        .image-block
                        img.className#IdName(src="https://blog.bannersnack.com/wp-content/uploads/2016/05/LinkedIn.png" class="img1 ads" alt="Image Title" style={position:'relative', height:'300px',width:'300px'})

                        | 
                    div(class="adBlock" style={height:'350px'}) Advertisements
                        .image-block
                        img.className#IdName(src="https://blog.bannersnack.com/wp-content/uploads/2016/05/Netflix.png" class="img1 ads" alt="Image Title" style={position:'relative', height:'300px',width:'300px'})
